.register {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bgColor;
    padding-bottom: 80px;


    .register-wrap {
        width: 80%;

        @include mobile {
            width: 90%;
        }

        .register-title {
            width: 100%;
            margin-top: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid #000;

            span {
                color: #000;
                padding: 0 10px; 
                cursor: pointer;

                &:first-child {
                    border-right: 1px solid #000;
                    font-weight: 700 !important;
                }

                &:last-child {
                    font-weight: 300;
                }

            }
        }

        .register-content {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 26px;
            
            .register-form {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #fff;
                padding: 20px;

                @include mobile {
                    display: block;
                    width: 100%;
                }

                input {
                    display: block;
                    font-size: 16px;
                    padding: 16px;
                    width: 500px;
                    margin: 16px 0;
                    border: 1px solid #e1e1e1;
                    border-radius: 6px;
                    outline: none;

                    @include mobile {
                        width: 100%;
                        padding: 12px;
                        font-size: 14px;
                        margin: 18px 0;
                    }
                }
                
                span {
                    padding-left: 10px;
                    color: red;
                    font-size: 16px;
                }

                button {
                    display: block;
                    width: 160px;
                    margin-top: 16px;
                    padding: 15px 10px;
                    border: none;
                    border-radius: 4px;
                    outline: none;
                    color: #fff;
                    background-color: #333;
                    font-size: 18px;
                    text-transform: uppercase;
                    cursor: pointer;

                    @include mobile {
                        font-size: 16px;
                        width: 120px;
                        padding: 12px;
                        margin-top: 18px;
                    }
                }
            }
        }
    }
}