.content {
    background-color: $bgColor;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .products-wrap {
        width: 90%;
        height: 100%;

        .products-wrap-top {
            width: 100%;

            .products-wrap-title {
                width: 100%;
                margin-top: 20px;
                padding-bottom: 20px;
                border-bottom: 1px solid #ccc;

                span {
                    color: #000;
                    padding: 0 10px;
                    font-size: 20px;
                                        
                    &:first-child {
                        border-right: 1px solid #000;
                        font-weight: 700 !important;
                        cursor: pointer !important;
                    }

                    &:last-child {
                        font-weight: 300;
                        cursor: text;
                    }

                }
            }

            .product-detail {
                width: 100%;
                display: flex;
                margin-top: 20px;
                
                @include mobile {
                    flex-direction: column;
                }

                .product-detail-left {
                    width: 50%;

                    @include mobile {
                        width: 100%;
                    }

                    .product-detail-img {
                        width: 100%;
                        
                        img {
                            width: 100%;
                            height: 548px;
                            object-fit: cover;

                            @include mobile {
                                height: 280px;
                            }
                        }
                    }
                }

                .product-detail-right {
                    width: 50%;
                    margin-top: 10px;

                    @include mobile {
                        width: 100%;
                        text-align: center;
                    }

                    .product-detail-name {
                        font-size: 24px;
                        margin-left: 50px;

                        @include mobile {
                            margin-left: 0;
                        }
                    }

                    .product-detail-code {
                        font-size: 16px;
                        margin: 0 50px;
                        margin-top: 10px;
                        padding-bottom: 10px;
                        border-bottom: 1px solid #000;

                        @include mobile {
                            margin-left: 0;
                            margin-right: 0;
                        }
                    }

                    .product-detail-price {
                        margin-top: 20px;
                        margin-bottom: 10px;
                        margin-left: 200px;
                        font-size: 50px;
                        color: #9e2334;

                        @include mobile {
                            font-size: 32px;
                            margin-left: 0;
                        }
                    }

                    .product-detail-old-price {
                        margin: 0 100px;
                        margin-left: 264px;
                        font-size: 20px;
                        text-decoration: line-through;

                        @include mobile {
                            margin: 0;
                        }
                        
                    }

                    .product-detail-num {
                        margin: 20px 50px 0 50px;
                        font-size: 20px;
                        margin-left: 50px;
                        border-top: 1px solid #ccc;
                        padding-top: 20px;

                        @include mobile {
                            margin-left: 0;
                            margin-right: 0;
                        }
                    }

                    .product-detail-quantity {
                        margin: 20px 0 30px 50px;
                        display: flex;
                        width: 180px;
                        height: 48px;
                        border: 1px solid #000;
                        border-radius: 4px;

                        @include mobile {
                            margin: 20px auto 30px;
                        }

                        span {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            height: 100%;
                            font-size: 24px;
                            cursor: pointer;
                        }

                        span {
                            &:first-child {
                                width: 30%;
                            }

                            &:nth-child(2) {
                                border-right: 1px solid #000;
                                border-left: 1px solid #000;
                                width: 40%;
                            }

                            &:last-child {
                                width: 30%;
                            }
                        }
                    }
            
                    .product-detail-button-cart,
                    .product-detail-button-phone {
                        display: flex;
                        align-items: center;
                        width: 80%;
                        color: #fff;
                        background-color: $secondColor;
                        margin: 20px 0 20px 50px;
                        padding: 16px;
                        border-radius: 10px;
                        font-size: 20px;

                        &:hover {
                            color: #000;
                            background-color: #c4996b;
                            cursor: pointer;
                        }

                        @include mobile {
                            margin-left: 0px;
                            font-size: 18px;
                            margin: 20px auto;
                            padding: 12px;
                        }

                        span {
                            font-size: 24px;
                            font-weight: 500;
                            margin-left: 230px;
                            text-transform: uppercase;

                            @include mobile {
                                margin-left: 56px;
                                font-size: 18px;
                            }
                        }

                        i {
                            font-size: 24px;

                            @include mobile {
                                font-size: 18px;
                            }
                        }
                    }

                    .social {
                        display: flex;
                        margin-top: 24px;
                        margin-left: 50px;

                        @include mobile {
                            margin-left: 0;
                            justify-content: center;
                        }
            
                        i {
                            color: #fff;
                            font-size: 24px;

                            @include mobile {
                                font-size: 20px;
                            }
                        }
                        
                        div {
                            margin-right: 10px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            cursor: pointer;
                        }
            
                        .social-facebook {
                            width: 44px;
                            height: 44px;
                            background-color: #3b5998;

                            @include mobile {
                                width: 36px;
                                height: 36px;
                            }
                        }
                        .social-twitter {
                            width: 44px;
                            height: 44px;
                            background-color: #1da1f2;

                            @include mobile {
                                width: 36px;
                                height: 36px;
                            }
                        }
                        .social-pinterest {
                            width: 44px;
                            height: 44px;
                            background-color: #d02128;

                            @include mobile {
                                width: 36px;
                                height: 36px;
                            }
                        }
                        .social-tumblr {
                            width: 44px;
                            height: 44px;
                            background-color: #001935;

                            @include mobile {
                                width: 36px;
                                height: 36px;
                            }
                        }
            
                    }
                }

            }

            .product-detail-advertisement {
                width: 100%;
                margin-top: 50px;
                margin-bottom: 50px;

                .product-detail-bottom-title {
                    width: 100%;
                    background-color: $mainColor;
                    color: #fff;
                    padding: 12px;
                    font-size: 20px;
                    text-transform: uppercase;
                    text-align: center;
                }

                .product-detail-bottom-img {
                    width: 100%;
                    text-align: center;
                    border-left: 1px solid #ccc;
                    border-right: 1px solid #ccc;
                    padding-top: 12px;
                }

                ul {
                    width: 100%;
                    list-style: none;
                    border: 1px solid #ccc;
                    border-top: none;
                    display: flex;
                    flex-direction: column;
                    padding: 20px 400px;

                    @include mobile {
                        padding: 20px 10px;
                    }

                    li {
                        margin: 20px 0;
                        font-weight: 300;

                        .des-wrap {
                            display: flex;
                            align-items: center;
                        }
                        
                         span {
                            font-size: 18px;

                            @include mobile {
                                font-size: 15px;
                                font-weight: 500;
                                line-height: 1.6;
                             }
                        }

                        i {
                            margin-right: 20px;
                            font-size: 28px;
                            
                            @include mobile {
                                font-size: 24px;;
                            }
                        }
                    }
                }
            }

            .product-detail-relation {
                width: 100%;
                margin-top: 50px;
                margin-bottom: 50px;

                .product-detail-relation-title {
                    width: 100%;
                    background-color: $mainColor;
                    color: #fff;
                    padding: 12px;
                    font-size: 20px;
                    text-transform: uppercase;
                    text-align: center;
                }

                .cart-product-wrap {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    grid-column-gap: 36px;
                    grid-row-gap: 36px;

                    @include mobile {
                        grid-template-columns: 1fr;
                        grid-column-gap: 28px;
                        grid-row-gap: 28px;
                    }
                }
            }
        }
    }
}