.cart-product-wrap {
   width: 100%;
   margin-top: 32px;
   display: grid;

   .cart-product-item {
        height: 450px;
        border: 1px solid #ccc;
        position: relative;

        &:hover .view-product {
            display: block;
        }

        .view-product {
            position: absolute;
            top: 30%;
            left: 33%;
            width: 124px;
            height: 35px;
            display: none;

            button {
                width: 100%;
                height: 100%;
                border: none;
                outline: none;
                cursor: pointer;
            }
        }


        .product-image {
            width: 98%;
            height: 70%;
            display: flex;
            margin: 2px auto;
            object-fit: cover;

            &:hover {
                opacity: 0.6;
                cursor: pointer;
            }


        }

        .product-title {
            font-size: 22px;
            font-weight: 300;
            margin-top: 20px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            text-align: center;
            color: #000;

            &:hover {
                color: #888;
                cursor: pointer;
            }
        }

        .product-price {
            display: flex;
            justify-content: center;
            align-items: baseline;
            margin-top: 32px;

            .product-price-new {
                font-size: 22px;
                color: #9e2334;
            }

            .product-price-old {
                font-size: 18px;
                text-decoration: line-through;  
                margin-left: 6px;  
            }
        }
   }
}

.price {
    text-align: center;
}