.content {
    background-color: $bgColor;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .products-wrap {
        width: 80%;
        height: 100%;
    }
    
}

.active {
    color: red;
}
