.relation-products-wrap {
    margin-top: 70px;
    margin-bottom: 20px;
    display: flex;

    @include mobile {
        flex-direction: column;
    }

    .project {
        width: 390px;
        margin-right: 30px;

        @include mobile {
            width: 100%;
        }

        .project-title {
            color: #000;
            font-size: 22px;
            text-transform: uppercase;
            cursor: pointer;

            @include mobile {
                font-size: 20px;
            }
        }

        .project-wrap {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            border-bottom: 1px dotted #ddd;
            padding-bottom: 10px;

            img {
                width: 100px;
                height: 100px;
                object-fit: cover;
                margin: 15px 10px 10px 0;
                cursor: pointer;

            }
            
            span {
                font-size: 18px;
                font-weight: 300;
                color: #333;
                line-height: 1.6;
                cursor: pointer;

                @include mobile {
                    font-size: 16px;
                    margin-left: 10px;
                }

            }
        }

        .project-des {
            color: #000;
            font-size: 20px;
            font-weight: 300;
            margin-top: 10px;
            padding-bottom: 10px;
            border-bottom: 1px dotted #ddd;
            line-height: 1.6;
            cursor: pointer;
            text-transform: uppercase;

            @include mobile {
                font-size: 16px;
            }
        }
    }

    .newsproduct {
        width: 390px;
        margin-right: 200px;

        @include mobile {
            width: 100%;
            margin-top: 28px;
        }

        .newsproduct-title {
            color: #000;
            font-size: 22px;
            text-transform: uppercase;
            cursor: pointer;

            @include mobile {
                font-size: 20px;
            }
        }

        .newsproduct-wrap {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            border-bottom: 1px dotted #ddd;
            padding-bottom: 10px;

            img {
                width: 100px;
                height: 100px;
                margin: 15px 10px 10px 0;
                object-fit: cover;
                cursor: pointer;

            }
            
            span {
                font-size: 18px;
                font-weight: 300;
                color: #333;
                line-height: 1.6;
                cursor: pointer;

                @include mobile {
                    font-size: 16px;
                    margin-left: 10px;
                }
            }
        }

        .newsproduct-des {
            color: #000;
            font-size: 20px;
            font-weight: 300;
            margin-top: 10px;
            padding-bottom: 10px;
            border-bottom: 1px dotted #ddd;
            line-height: 1.6;
            cursor: pointer;

            @include mobile {
                font-size: 16px;
            }
        }
    }
}