.products-wrap-title {
    width: 100%;
    margin-top: 60px;

    .products-wrap-text-list {
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: center;

        @include mobile {
            justify-content: space-between;
        }

        li {
            font-size: 28px;
            font-weight: 300;
            margin-left: 20px;
            position: relative;
            border-right: 1px solid $borderColor;
            padding-right: 20px;
            text-transform: uppercase;
            cursor: pointer;

            @include mobile {
                margin-left: 0px;
                border-right: none;
                padding: 0;
                font-size: 10px;
                font-weight: 700;
            }


            &:first-child::before {
                content: "";
                position: absolute;
                bottom: 10px;
                left: -96%;
                border: 1px solid $borderColor;
                height: 2px;
                width: 300px;
                border-left: none;
                border-right: none;

                @include mobile {
                    border: none;
                    height: 0px;
                }
            }

            &:last-child::after {
                content: "";
                position: absolute;
                bottom: 10px;
                right: -97%;
                border: 1px solid $borderColor;
                height: 2px;
                width: 300px;
                border-left: none;
                border-right: none;

                @include mobile {
                    border: none;
                    height: 0px;
                }
            }



            &:last-child {
                border-right: none;
            }
        }
    }

    .cart-product-wrap {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 36px;

        @include mobile {
            display: grid;
            grid-template-columns: 1fr;
            grid-column-gap: 28px;
            grid-row-gap: 28px;
        }
    }
}