.checkout {
    width: 100%;
    display: flex;
    justify-content: center;

    .checkout-wrap {
        width: 80%;
        display: flex;
        margin-top: 50px;

        @include mobile {
            width: 90%;
            flex-direction: column;
        }

        .checkout-left {
            width: 70%;
            margin-right: 20px;

            @include mobile {
                width: 100%;
                margin-right: 0;
            }
            
            .checkout-product {
                width: 100%;
                border: 1px solid #ccc;
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;

                .title {
                    font-size: 24px;
                    padding: 12px;
                    color: #fff;
                    background-color: #3f4140;  
                    text-transform: uppercase;
                    border: 1px solid #ccc;
                    border-top-left-radius: 8px;
                    border-top-right-radius: 8px;

                    @include mobile {
                        font-size: 18px;
                    }
                }

                .product-wrap {

                    @include mobile {
                        width: 100%;
                        height: 500px;
                        overflow: hidden;
                        overflow-y: auto;
                    }
                    
                    .product {
                        height: 250px;
                        display: flex;
                        justify-content: center;
                        border-bottom: 1px solid #eee;
                        padding: 20px;
    
                        @include mobile {
                            width: 100%;
                            padding: 10px;
                        }
    
                        .product-img {
                            width: 25%;
                            text-align: center;
                            display: flex;
                            justify-content: center;
                            align-items: center;
    
                            @include mobile {
                                width: 50%;
                            }
    
                            img {
                                width: 80%;
                            }
                        }
    
                        .product-info {
                            width: 50%;
                            text-align: center;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
    
                            @include mobile {
                                width: 50%;
                            }
    
    
                            h3 {
                                font-size: 24px;
                                font-weight: 400;
                                text-decoration: underline;
                                margin-bottom: 10px;
    
                                @include mobile {
                                    font-size: 14px;
                                }
                            }
    
                            p {
                                font-size: 20px;
                                margin: 10px 0;
    
                                @include mobile {
                                    font-size: 14px;
                                }
    
                                span {
                                    color: #c4996b;
                                }
                            }
    
                            .product-btn-small {
                                display: none;
    
                                @include mobile {
                                    width: 90%;
                                    display: block;
                                }
    
                                button {
                                    width: 100%;
                                    font-size: 12px;
                                    padding: 6px;
                                    text-transform: uppercase;
                                    outline: none;
                                }
                            }
                        }
    
                        .product-btn {
                            width: 25%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
    
                            @include mobile {
                                display: none;
                            }
    
                            button {
                                font-size: 18px;
                                padding: 10px 80px;
                                text-transform: uppercase;
                                outline: none;
                                
                                &:hover {
                                    cursor: pointer;
                                    background-color: #c4996b;
                                    border: none;
                                }
                            }
                        }
    
                    }
                }

            }

            .checkout-btn {
                color: #fff;
                background-color: $secondColor;
                font-size: 20px;
                text-transform: uppercase;
                padding: 16px 36px;
                margin-top: 20px;
                outline: none;
                border: none;

                &:hover {
                    cursor: pointer;
                    background-color: #c4996b;
                }

                @include mobile {
                    width: 100%;
                    padding: 12px;
                }
            }

            .checkout-info {
                width: 100%;
                margin: 50px 0;
                border: 1px solid #ccc;

                .title {
                    font-size: 24px;
                    padding: 12px;
                    color: #fff;
                    background-color: #3f4140;  
                    text-transform: uppercase;
                    border: 1px solid #ccc;

                    @include mobile {
                        font-size: 18px;
                    }
                }

                .info {
                    width: 100%;
                    background-color: #ccc;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 28px 24px;

                    @include mobile {
                        padding: 12px 8px;
                    }

                    .info-wrap {
                        width: 100%;
                        background-color: #fff;
                        color: #000;

                        .input-wrap {
                            width: 100%;
                            margin: 24px;
                            font-size: 20px;
                            font-weight: 400;
                            display: flex;

                            @include mobile {
                                font-size: 18px;
                                flex-direction: column;
                                margin: 16px;
                            }

                            label {
                               width: 30%;

                               @include mobile {
                                width: 100%;
                                margin-bottom: 10px;
                                font-size: 16px;
                               }
                            }

                            input {
                                font-size: 16px;
                                padding: 12px;
                                width: 400px;
                                border-radius: 4px;
                                outline: none;
                                text-align: left;
                                border: 1px solid #ccc;

                                @include mobile {
                                    width: 90%;
                                    font-size: 14px;
                                }
                            }

                            select {
                                font-size: 16px;
                                padding: 12px;
                                width: 400px;
                                border-radius: 4px;
                                outline: none;
                                text-align: left;
                                border: 1px solid #ccc;

                                @include mobile {
                                    width: 90%;
                                    font-size: 14px;
                                }
                            }
                        }
                        
                        .payment {
                            width: 100%;
                            margin: 50px 0;

                            h3 {
                                margin: 24px;

                                @include mobile {
                                    font-size: 18px;
                                }
                            }

                            .input-method-wrap {
                                margin: 32px 24px;

                                input {
                                    margin-right: 24px;
                                    width: 16px;
                                    height: 16px;
                                }

                                textarea {
                                    font-size: 20px;
                                    padding: 12px;
                                    width: 100%;
                                    height: 160px;
                                    margin-bottom: -16px;
                                }

                                label {
                                    font-size: 20px;

                                    @include mobile {
                                        font-size: 16px;
                                    }
                                }
                            }
                        }
                    }
                }


            }
        }
    
        .checkout-right {
            width: 30%;
            background-color: #3f4140;
            height: 632px;
            margin-left: 20px;

            @include mobile {
                width: 100%;
                margin-left: 0;
                margin-bottom: 80px;
                height: 680px;
            }

            .checkout-bill {
                width: 100%;
                height: 100%;
                background-color: #3f4140;
                color: #fff;
                
                h1 {
                    margin: 20px;
                    border-bottom: 1px solid #444;
                    padding-bottom: 32px;

                    @include mobile {
                        font-size: 24px;
                    }
                }

                .discount-title {
                    margin: 28px 20px;
                    font-size: 20px;
                    text-transform: uppercase;
                    border-bottom: 1px solid #fff;

                    @include mobile {
                        font-size: 20px;
                    }
                }

                p {
                    margin: 28px 20px;
                    font-size: 20px;
                    text-transform: uppercase;

                    @include mobile {
                        font-size: 16px;
                    }
                }

                .discount-wrap {
                    display: flex;
                    align-items: center;
                    margin: 24px;
                    border-bottom: 1px solid #444;
                    padding-bottom: 32px;

                    input {
                        border: none;
                        outline: none;
                        font-size: 16px;
                        padding: 12px 16px;
                        border-radius: 4px;
                        margin-right: 20px;
                        width: 70%;
                    }

                    button {
                        font-size: 16px;
                        padding: 12px 16px;
                        border: none;
                        outline: none;
                        text-transform: uppercase;
                        width: 30%;
                        color: #fff;
                        background-color: #c4996b;

                        &:hover {
                            cursor: pointer;
                            background-color: rgb(112, 89, 72);
                        }

                        @include mobile {
                            font-size: 14px;
                            padding: 12px 10px;
                        }
                    }
                }

                .price-temporary,
                .fees-ship,
                .price {
                    display: flex;
                    justify-content: space-between;
                    margin: 28px;
                    font-size: 18px;
                    border-bottom: 1px solid #444;
                    padding-bottom: 32px;

                    @include mobile {
                        font-size: 14px;
                    }
                }

                .fees-ship {
                    font-size: 20px;

                    @include mobile {
                        font-size: 16px;
                    }
                }

                .price {
                    font-size: 22px;

                    @include mobile {
                        font-size: 18px;
                    }
                }

                button {
                    display: flex;
                    margin: auto;
                    padding: 12px 100px;
                    color: #fff;
                    background-color: #c4996b;
                    font-size: 20px;
                    text-transform: uppercase;
                    outline: none;
                    border: none;
                    border-radius: 4px;

                    &:hover {
                        cursor: pointer;
                        background-color: rgb(112, 89, 72);
                    }
                }
            }

        }
    }

}