.footer {
    width: 100%;
    height: 550px;
    background-color: $mainColor;
    color: #fff;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mobile {
        height: 1400px;
    }


    .footer-container {
        width: 78%;
        margin-top: 10px;
        display: flex;

        @include mobile {
            flex-direction: column;
            height: 1400px;
        }
       

        .footer-info {
            width: 25%;
            margin: 0 20px;

            @include mobile {
                width: 100%;
                margin: 20px 0;
            }

            .footer-title {
                font-size: 22px;
                
                @include mobile {
                    font-size: 20px;
                }
            }
            
            .footer-img {
                width: 340px;
                margin-top: 26px;
                position: relative;

                @include mobile{
                    width: 100%;
                }

                img {
                    width: 100%;
                    height: 100%;

                }

                .footer-like {
                    position: absolute;
                    bottom: 10%;
                    left: 5%;
                    width: 130px;
                    height: 26px;
                    background-color: #fff;
                    padding: 0 10px;

                    a {
                        text-decoration: none;

                        i {
                            margin-right: 8px;
                            font-size: 16px;
                        }
    
                        span {
                            line-height: 26px;
                        }
                    }
                }

                .footer-logo {
                    position: absolute;
                    top: 5%;
                    left: 5%;
                    display: flex;
                    width: 322px;
                    overflow: hidden;

                }
            }

            .underline {
                height: 4px;
                width: 100%;
                border: 1px solid #fff;
                border-left: none;
                border-right: none;
                margin-top: 10px;
            }

            .footer-list {
                list-style: none;
                margin-top: 26px;

                li {
                    font-size: 20px;
                    font-weight: 300;
                    margin: 12px 0;
                    line-height: 1.6;

                    @include mobile {
                        font-size: 16px;
                        line-height: 1.8;
                    }

                    input {
                        padding: 10px 8px;
                        font-size: 18px;
                        margin-right: 5px;
                        outline: none;
                        border: none;

                        @include mobile {
                            padding: 8px 6px;
                        }
                    }

                    button {
                        height: 41px;
                        padding: 12px;
                        background-color: transparent;
                        color: #fff;
                        outline: none;
                        border: 1px solid #fff;
                        cursor: pointer;

                        @include mobile {
                            height: 38px
                        }
                    }
                }
            }
            
        }

        .social {
            display: flex;
            margin-top: 24px;

            i {
                color: #fff;
                font-size: 24px;
            }
            
            div {
                margin-right: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
            }

            .social-facebook {
                width: 40px;
                height: 40px;
                background-color: #3b5998;
            }
            .social-twitter {
                width: 40px;
                height: 40px;
                background-color: #1da1f2;
            }
            .social-pinterest {
                width: 40px;
                height: 40px;
                background-color: #d02128;
            }
            .social-tumblr {
                width: 40px;
                height: 40px;
                background-color: #001935;
            }

        }
    }

    .footer-contact {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 400px;
        padding: 8px;
        border-radius: 14px;
        background-color: $secondColor;

        @include mobile {
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            padding: 8px 24px;
            background-color: rgba(39,21,16,.8);
            border-radius: 0;
            z-index: 1000;
        }

        i {
            font-size: 30px;
            cursor: pointer;

            @include mobile {
                font-size: 24px;
            }
        }

        .hotline {
            font-size: 28px;
            font-weight: 300;
            margin-left: 20px;
            cursor: pointer;

            @include mobile {
                font-size: 24px;
            }
        }

        .phone {
            font-size: 28px;
            font-weight: 400;
            cursor: pointer;

            @include mobile {
                font-size: 24px;
            }
        }
    }

    .scrollTop {
        position: fixed;
        bottom: 100px;
        right: 50px;
        width:  60px;
        height: 60px;
        border-radius: 50%;
        background-color: red;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        @include mobile {
            right: 10px;
            width:  32px;
            height: 32px;
        }

        i {
            font-size: 22px;
            animation: slide 0.8s alternate infinite;

            @include mobile {
                font-size: 12px;
            }
        }
    }
}

@keyframes slide {
    from {
        transform: translateY(5px);
    } to {
        transform: translateY(-5px);
    }
}
